body {
  padding-top: 1rem;
  background-color: #e7e7e7;
  /* background: url('./images/background.jpg') repeat; */
  padding-bottom: 3rem;
}
hr {
  margin-top: 0.2rem !important;
  margin-bottom: 0.2rem !important;
}
